.wrapper {
    display: grid;
    grid-template-columns: 1fr auto auto;

    gap: 40px;
    padding: 25px 30px;

    background-color: var(--primary);
    color: var(--white);
}

@media (max-width: 765px) {
    .wrapper {
        text-align: center;
        grid-template-columns: 1fr;
    }
}